<form id="signupform" [formGroup]="signUpForm">
  <input type="text" placeholder="First name" formControlName="firstNameField"/>
  <input type="text" placeholder="Last name" formControlName="lastNameField"/>
  <input type="email" placeholder="Email" formControlName="emailField"/>
  <input type="password" placeholder="New password" formControlName="passwordField"/>
  <input type="password" placeholder="Confirm password" formControlName="cpasswordField"/>
  <button type="submit">Sign up</button>
</form>
