.header {
  height: 100px;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  width: 100%;
  box-shadow: 0 1px 5px black;
  z-index: 1;
}

#logo {
  height: 70px;
  padding: 15px;
}

.accented-text {
  color: var(--accent-color);
}

#title {
  font-size: 2.5rem;
}

@media (prefers-color-scheme: light) {
  .header {
    background: var(--lt-dark-color);
    color: var(--lt-text-color);
  }
}
@media (prefers-color-scheme: dark) {
  .header {
    background: var(--dt-dark-color);
    color: var(--dt-text-color);
  }
}