#rooms {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.searchContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90vw;
  max-width: 960px;
}

#search-box {
  height: 30px;
  flex-grow: 1;
  padding: 5px 10px;
  max-width: 300px;
  outline: none;
  border-radius: 8px;
  font-family: "Bree Serif", serif;
  font-size: 1.2rem;
  border: none;
}

#search-button {
  display: block;
  text-align: center;
  padding: 8px 5px 2px 5px;
  height: 30px;
  flex-grow: 2;
  max-width: 100px;
  background-color: var(--accent-color);
  border-radius: 8px;
  margin-left: 10px;
}

.roomContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 40px;
}

.roomCard {
  height: 260px;
  width: 260px;
  max-width: 260px;
  max-height: 260px;
  background-color: var(--dt-dark-color);
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px;
}

.roomCardName {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.roomCardDesc {
  font-size: 1rem;
}

.cardUserDetails {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-top: auto;
}

.smallIcon {
  width: 20px;
  height: 20px;
  padding:5px;
}

.roomCardOwner {
  margin-right: auto;
  color: grey;
  font-size: 0.9rem;
}

.roomCardNumOfUsers {
  margin-left: 10px;
}